section.contacts
  .contacts__wrapper
    .contacts__info-cooperation.info-cooperation
      h2.info-cooperation__title Приглашаем <br> к сотрудничеству дилеров!
      .info-cooperation__adress
        b.info-cooperation__street ул. Большая Конюшенная,д. 19/8
        b.info-cooperation__city Санкт-Петербург
    .contacts__interactive-map#map
      h3.visually-hidden Как до нас добраться?
