section.example
  h2.example__title.block-title Живой пример
  .example__wrapper
    .example__flex-wrapper
      .example__content
        p.example__text Борис сбросил 5 кг за 2 месяца,просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок!При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.
        article.example__stats.stats
          h3.visually-hidden Статистика
          .stats__wrapper
            .stats__wrapper-value
              p.stats__value-number 5 кг
              p.stats__value-description снижение веса
            .stats__wrapper-value
              p.stats__value-number 60 дней
              p.stats__value-description затрачено времени
          p.stats__cost
            b Затраты на питание:
            b  15 000 руб
      .example__illustration
        .example__images-wrapper
          <picture>
            <source type="image/webp" media="(min-width: 768px)" srcset="img/before-tablet-desktop.webp, img/before-tablet-desktop@2x.webp 2x">
            <source type="image/webp" srcset="img/before-mobile.webp, img/before-mobile@2x.webp 2x">

            <source media="(min-width: 768px)" srcset="img/before-tablet-desktop.png, img/before-tablet-desktop@2x.png 2x">
            <img class="example__image example__image--before" src="img/before-mobile.png" srcset="img/before-mobile@2x.png 2x" alt="Пример кота до начала курса" width="280" height="232">
          </picture>
          <picture>
            <source type="image/webp" media="(min-width: 768px)" srcset="img/after-tablet-desktop.webp, img/after-tablet-desktop@2x.webp 2x">
            <source type="image/webp" srcset="img/after-mobile.webp, img/after-mobile@2x.webp 2x">

            <source media="(min-width: 768px)" srcset="img/after-tablet-desktop.png, img/after-tablet-desktop@2x.png 2x">
            <img class="example__image example__image--after" src="img/after-mobile.png" srcset="img/after-mobile@2x.png 2x" alt="Пример кота после курса" width="251" height="240">
          </picture>
        .example__progress-bar-wrapper
          button(class="example__progress-button example__progress-button--before" type="button") Было
          .example__range-bar
            input(class="example__range" type="range" min="1" max="100" value="50")
            .example__strip-progress
          button(class="example__progress-button example__progress-button--after" type="button") Стало
