section.first-screen
  .first-screen__wrapper
    header.first-screen__header
      h2.first-screen__title.block-title Функциональное питание для котов
      p.first-screen__slogan-text Занялся собой?Займись котом!
    .first-screen__content
      .first-screen__container
        picture
          source(type="image/webp" media="(min-width:1300px)" srcset="img/index-can-desktop.webp 1x, img/index-can-desktop@2x.webp 2x")
          source(type="image/webp" media="(min-width:768px)" srcset="img/index-can-tablet.webp 1x, img/index-can-tablet@2x.webp 2x")
          source(type="image/webp" srcset="img/index-can-mobile.webp 1x, img/index-can-mobile@2x.webp 2x")

          source(media="(min-width:1300px)" srcset="img/index-can-desktop.png 1x, img/index-can-desktop@2x.png 2x")
          source(media="(min-width:768px)" srcset="img/index-can-tablet.jpg 1x, img/index-can-tablet@2x.jpg 2x")
          img(class="first-screen__image" src="img/index-can-mobile.png" srcset="img/index-can-mobile@2x.png 2x" alt="Наша лучшая продукция" width="280" height="270")
        a(class="first-screen__link button" href="form.html") Подобрать программу

