footer.footer
  .footer__wrapper
    a(class="footer__logo-text logo-text" href="#")
      h3 <span class="visually-hidden">Логотип в футере</span>
        svg(class="logo-text__svg" width="128" height="24")
          use(xlink:href="#logo-footer")
    ul.footer__social.social-list
      li
        ul.social-list__wrapper
          li.social-list__item
            a(class="social-list__link" href="https://vk.com/htmlacademy") <h3 class="visually-hidden">Мы в Вконтакте</h3>
              svg(class="social-list__icon social-list__icon--vk" width="22" height="12")
                use(xlink:href="#icon-vk")
          li.social-list__item
            a(class="social-list__link" href="") <h3 class="visually-hidden">Мы в Инстаграме</h3>
              svg(class="social-list__icon social-list__icon--insta" width="16" height="16")
                use(xlink:href="#icon-instagram")
          li.social-list__item
            a(class="social-list__link" href="") <h3 class="visually-hidden">Мы в Фейсбуке</h3>
              svg(class="social-list__icon social-list__icon--fb" width="10" height="19")
                use(xlink:href="#icon-facebook")
    .footer__copyright.copyright
      a(class="copyright__link" href="https://htmlacademy.ru/intensive/adaptive")
        h3.copyright__title.block-title HTML Academy
        .copyright__icon-wrapper
          svg(class="copyright__icon copyright__icon--htmlacademy" width="27" height="34")
            use(xlink:href="#icon-htmlacademy")



