section.form-application
  h2.visually-hidden Заполните анкету на подбор программы
  p.form-application__call-to-action Заполните анкету и мы подберем программу питания для вашего кота
  .form-application__wrapper
    form(class="form-application__form form" action="https://echo.htmlacademy.ru" method="post")
      article.form__basic-data
        h3.visually-hidden Основные данные
        .form__basic-data-wrapper
          fieldset.form__textfields
            .form__textfields-block
              label(class="form__textfields-label label" for="name") Имя:*
              input.form__textfields-input.input-text( type="text" id="name" name="name" placeholder="Барсик")
            .form__textfields-block
              label(class="form__textfields-label label" for="weight") Вес (кг):*
              input.form__textfields-input.input-text( type="text" id="weight" name="weight" placeholder="7")
            .form__textfields-block
              label(class="form__textfields-label label" for="age") Возраст (лет):
              input.form__textfields-input.input-text( type="text" id="age" name="age" placeholder="7")
          fieldset.form__radio
            ul.form__list-radio
              li.form__list-radio-item
                input.form__radio-input(type="radio" name="program" value="slim" id="slim" checked)
                label(class="form__radio-label label" for="slim") Похудение
              li.form__list-radio-item
                input.form__radio-input(type="radio" name="program" value="pro" id="pro")
                label(class="form__radio-label label" for="pro") Набор массы
              li.form__list-radio-item
                input.form__radio-input(type="radio" name="program" value="need-advice" id="need-advice")
                label(class="form__radio-label label" for="need-advice") Не знаю (нужен ваш совет)
      article.form__contacts-data
        h3.form__contacts-title.form-title.block-title
          span.form__contacts-title-text.form-title__text Контактные данные (владельца кота)
        .form__contacts-wrapper
          .form__contacts-block
            label(class="form__contacts-label label" for="email") E-mail:*
            input.form__contacts-input.input-text(type="email" id="email" name="email" placeholder="kuklachev@gmail.com")
            svg.form__contacts-icon.form__contacts-icon--mail(width="17" height="13")
              use(xlink:href="#mail")
          .form__contacts-block
            label(class="form__contacts-label label" for="phone") Телефон:*
            input.form__contacts-input.input-text(type="tel" id="phone" name="phone" placeholder="8 (960) 900-60-90")
            svg.form__contacts-icon.form__contacts-icon--phone(width="21" height="20")
              use(xlink:href="#phone")
      article.form__description
        h3.form__description-title.form-title.block-title
          span.form__description-title-text.form-title__text Комментарий
        .form__description-textarea-wrapper
          textarea.form__description-textarea.input-text(name="description", placeholder="Расскажите обо всех повадках кота")
      article.form__checkboxes
        h3.form__checkboxes-title.form-title.block-title
          span.form__checkboxes-title-text.form-title__text Дополнительно
        ul.form__list-checkboxes
          li.form__list-checkbox-item
            input.form__checkbox-input(type="checkbox" name="sweetener" id="sweetener" checked)
            label(class="form__checkbox-label label" for="sweetener") Сахарозаменитель
          li.form__list-checkbox-item
            input.form__checkbox-input(type="checkbox" name="drinking-water" id="drinking-water")
            label(class="form__checkbox-label label" for="drinking-water") Питьевая вода
          li.form__list-checkbox-item
            input.form__checkbox-input(type="checkbox" name="milk" id="milk")
            label(class="form__checkbox-label label" for="milk") Молоко
          li.form__list-checkbox-item
            input.form__checkbox-input(type="checkbox" name="vitamins" id="vitamins")
            label(class="form__checkbox-label label" for="vitamins") Витамины
      article.form__button
        button.form__button-submit.button(type="submit") Отправить заявку
        small.form__button-signature * - Обязательные поля












