extends _loyouts/template-page

block variables
  -var namePage="Подобрать программу";
  -var classBody = "page-item";

block title
  title Кэт Энерджи.Подобрать программу

block content
  main.page-form
    h1.page-form__title.block-title Подбор программы
    include _partials/form-application
    include _partials/contacts
