extends _loyouts/template-page

block variables
  -var namePage="Главная";
  -var classBody = "page-main";

block title
  title Кэт Энерджи.Главная страница

block content
  main.page-main
    h1.visually-hidden "Cat Energy" - Функциональное питание для котов

    include _partials/first-screen
    include _partials/categories
    include _partials/advantages
    include _partials/example
    include _partials/contacts
