.additionally-list {
  width: 100%;
  max-width: 565px;
  margin-right: auto;
  margin-left: auto;
}

.additionally-list__item {
  display: block;
  padding-top: 13px;
  padding-bottom: 15px;

  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }
}

.additionally-list__name {
  font-size: 16px;
  line-height: 16px;

  text-transform: uppercase;
}

.additionally-list__wrapper-values {
  display: flex;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;

  color: #444444;

  justify-content: space-between;
}

.additionally-list__value {
  margin-top: 10px;
  margin-bottom: 14px;
}

.additionally-list__link-wrapper {
  display: block;
}

.additionally-list__link {
  font-size: 16px;
  line-height: 18px;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .additionally-list {
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
  }

  .additionally-list__item {
    padding-top: 18px;
    padding-right: 34px;
    padding-bottom: 25px;
    padding-left: 34px;

    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
  }

  .additionally-list__name {
    font-size: 20px;
    line-height: 20px;
  }

  .additionally-list__link-wrapper {
    width: 100%;
  }

  .additionally-list__wrapper-values {
    font-size: 16px;
    line-height: 20px;
  }

  .additionally-list__value {
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .additionally-list {
    width: 895px;
    max-width: none;
    margin: 0;

    border-collapse: collapse;
    border-top: 1px solid #cdcdcd;
  }

  .additionally-list__item {
    display: flex;
    padding-top: 13px;
    padding-right: 0;
    padding-bottom: 13px;
    padding-left: 0;

    border-right: none;
    border-left: none;

    align-items: baseline;
    justify-content: space-between;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  .additionally-list__name {
    width: 245px;
    margin-right: 40px;
    padding-right: 0;
    padding-left: 0;

    flex-grow: 0;
  }

  .additionally-list__wrapper-values {
    width: 285px;
  }

  .additionally-list__value {
    margin: 0;
  }

  .additionally-list__link-wrapper {
    width: 245px;
  }

  .additionally-list__link {
    margin-right: -1px;
  }
}
