.bonuses__wrapper {
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 65px;
  padding-bottom: 43px;

  background-color: $accent-color;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.no-js .bonuses__wrapper,
.no-webp .bonuses__wrapper {
  background-image: url("../img/gift-photo-mobile.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.js.webp .bonuses__wrapper {
  background-image: url("../img/gift-photo-mobile.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.webp");
  }
}


.bonuses__icon-wrapper {
  width: 55px;
  margin-right: auto;
  margin-bottom: 55px;
  margin-left: auto;
}

.bonuses__icon--gift {
  fill: #ffffff;
}

.bonuses__text {
  width: 161px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .bonuses__wrapper {
    display: flex;
    max-width: 708px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 66px;
    padding-right: 122px;
    padding-bottom: 69px;
    padding-left: 91px;

    align-items: flex-end;
    justify-content: space-between;
  }

  .no-js .bonuses__wrapper,
  .no-webp .bonuses__wrapper {
    background-image: url("../img/gift-photo-tablet.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .js.webp .bonuses__wrapper {
    background-image: url("../img/gift-photo-tablet.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.webp");
    }
  }

  .bonuses__icon-wrapper {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .bonuses__text {
    margin: 0;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .bonuses__wrapper {
    display: inherit;
    width: 245px;
    max-width: none;
    margin: 0;
    padding-top: 64px;
    padding-right: 0;
    padding-bottom: 40px;
    padding-left: 0;
  }

  .no-js .bonuses__wrapper,
  .no-webp .bonuses__wrapper {
    background-image: url("../img/gift-photo-desktop.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 100% 100%;
    }
  }

  .js.webp .bonuses__wrapper {
    background-image: url("../img/gift-photo-desktop.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.webp");
      background-size: 100% 100%;
    }
  }

  .bonuses__icon-wrapper {
    margin-right: auto;
    margin-bottom: 55px;
    margin-left: auto;
  }

  .bonuses__text {
    margin-right: auto;
    margin-left: auto;

    text-align: center;
  }
}
