@media (min-width: $tablet-width) {
  .catalog-main__list {
    display: flex;
    padding-right: 30px;
    padding-left: 30px;

    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .catalog-main__wrapper {
    width: 1300px;
    margin-right: auto;
    margin-bottom: 73px;
    margin-left: auto;
  }

  .catalog-main__list {
    padding-right: 40px;
    padding-left: 40px;
  }
}
