.catalog-byproducts__title {
  position: relative;

  margin-top: 28px;
  margin-bottom: 32px;
  padding-left: 20px;

  font-size: 24px;
  line-height: 24px;

  &::after {
    position: absolute;
    top: 14px;

    width: 100vw;
    height: 3px;
    margin-left: 23px;

    background-color: $accent-color;

    content: "";
  }
}

.catalog-byproducts__list {
  margin-bottom: 37px;
  padding-right: 20px;
  padding-left: 20px;
}

.catalog-byproducts__bonuses-wrapper {
  margin-bottom: 35px;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .catalog-byproducts__title {
    margin-bottom: 77px;
    padding-left: 30px;

    font-size: 36px;
    line-height: 36px;

    &::before {
      position: absolute;
      top: 23px;
      left: 0;
      z-index: -1;

      width: 100vw;
      height: 3px;

      background-color: $accent-color;

      content: "";
    }

    &::after {
      display: none;
    }
  }

  .catalog-byproducts__title-text {
    padding-right: 37px;
    padding-left: 37px;

    background-color: #ffffff;
  }

  .catalog-byproducts__list {
    padding-right: 28px;
    padding-left: 28px;
  }

  .catalog-byproducts__bonuses-wrapper {
    margin-bottom: 76px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-byproducts__title {
    box-sizing: border-box;
    width: 1300px;
    margin-right: auto;
    margin-bottom: 80px;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 0;

    span {
      padding-right: 36px;
      padding-left: 40px;

      background-color: #ffffff;
    }

    &::before {
      right: calc(100vw - 1220px);
      left: auto;
    }

    &::after {
      display: block;

      top: 23px;
      z-index: -1;
    }
  }

  .catalog-byproducts__wrapper {
    display: flex;
    box-sizing: border-box;
    width: 1300px;
    margin-right: auto;
    margin-bottom: 86px;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;

    justify-content: space-between;
  }

  .catalog-byproducts__list {
    padding-right: 0;
    padding-left: 0;
  }

  .catalog-byproducts__bonuses-wrapper {
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
