.categories__list {
  @include reset;
}

.categories__list-item {
  position: relative;

  margin-top: 22px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-top: 20px;
  padding-right: 46px;
  padding-bottom: 20px;
  padding-left: 20px;

  list-style: none;
  background-color: #f2f2f2;

  &::before {
    position: absolute;
    top: 24px;
    left: 20px;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    background-color: $accent-color;

    content: "";
  }
}

.categories__icon {
  position: absolute;

  &--slim {
    width: 35px;
    height: 50px;
    padding-top: 2px;
    padding-left: 8px;
  }

  &--pro {
    width: 69px;
    height: 28px;
    margin-left: -10px;
    padding-top: 17px;
  }
}

.categories__name {
  @include reset;

  padding-top: 9px;
  padding-left: 70px;

  font-size: 24px;
  font-weight: 400;
  line-height: 37.02px;

  text-transform: uppercase;
}

.categories__text {
  @include reset;

  margin-top: 27px;
  padding-bottom: 25px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  color: #444444;
  border-bottom: 1px solid #d9d9d9;
}

.categories__link {
  position: relative;

  display: block;
  max-width: 131px;
  margin-top: 20px;

  &::before {
    position: absolute;
    top: 13px;
    left: 96px;

    width: 17px;
    height: 2px;

    background-color: #3e4242;

    transition: all 0.2s;

    content: "";
  }

  &::after {
    position: absolute;
    top: 9px;
    right: 7px;

    border: 5px solid transparent;
    border-left: 6px solid #3e4242;

    transition: all 0.2s;

    content: "";
  }

  &:hover::before {
    width: 26px;
  }

  &:hover::after {
    right: -2px;
  }

  &:focus {
    opacity: 0.3;
  }

  &:focus::before {
    width: 26px;
  }

  &:focus::after {
    right: -2px;
  }
}

.categories__name-link {
  font-size: 16px;
  line-height: 16px;

  color: #000000;

  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .categories__list {
    max-width: 1074px;
    margin: 0 auto;
  }

  .categories__list-item {
    margin-right: 30px;
    margin-left: 30px;
    padding: 0;
    padding-top: 63px;
    padding-right: 61px;
    padding-bottom: 35px;
    padding-left: 51px;

    &::before {
      top: 89px;
      right: 63px;
      left: auto;

      width: 200px;
      height: 200px;
    }
  }

  .categories__icon {
    &--slim {
      top: 78px;
      right: 93px;

      width: 140px;
      height: 194px;
      padding: 0;
    }

    &--pro {
      top: 132px;
      right: 31px;

      width: 268px;
      height: 112px;
      padding: 0;
    }
  }

  .categories__name {
    padding-left: 0;

    font-size: 36px;
    line-height: 37.02px;
  }

  .categories__text {
    width: 57%;
    margin-bottom: 54px;
    padding-bottom: 0;

    font-size: 16px;
    line-height: 24px;

    border-bottom: none;
  }

  .categories__link {
    max-width: 170px;
    margin-top: 0;

    &::before {
      top: 12px;
      left: 130px;
    }

    &::after {
      top: 8px;
      right: 12px;
    }


    &:hover::after {
      right: 3px;
    }

    &:focus::after {
      right: 3px;
    }
  }

  .categories__name-link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .categories__list {
    display: flex;
    box-sizing: border-box;
    width: 1300px;
    max-width: none;
    margin: 0 auto;
    margin-top: 70px;
    padding-right: 40px;
    padding-left: 40px;

    flex-wrap: wrap;
    justify-content: space-between;
  }

  .categories__list-item {
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-right: 21px;
    padding-bottom: 61px;
    padding-left: 52px;

    &::before {
      top: 47px;
      right: auto;
      left: 51px;

      width: 100px;
      height: 100px;
    }
  }

  .categories__icon {
    &--slim {
      top: 41px;
      left: 65px;

      width: 70px;
      height: 97px;
    }

    &--pro {
      top: 68px;
      left: 43px;

      width: 134px;
      height: 56px;
    }
  }

  .categories__name {
    padding-top: 35px;
    padding-left: 162px;
  }

  .categories__text {
    @include reset;

    width: 495px;
    margin-top: 71px;
    margin-bottom: 30px;
  }
}
