.example__title {
  padding-top: 16px;
  padding-bottom: 21px;
  padding-left: 20px;

  line-height: 60px;

  background-color: #f2f2f2;
}

.example__wrapper {
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 35px;
  padding-left: 20px;

  background-color: #f2f2f2;
}

.example__text {
  @include reset;
  margin-top: 0;
  margin-bottom: 25px;
  padding-right: 10px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  color: #444444;
}

.example__stats {
  margin-bottom: 34px;
}

.example__illustration {
  max-width: 600px;
  margin: 0 auto;
}

.example__images-wrapper {
  position: relative;

  width: 280px;
  height: 240px;
  margin: 0 auto;
}

.example__image {
  position: absolute;

  width: 100%;
}

.example__image--before {
  z-index: 0;

  height: 232px;
  margin-left: -20px;
}

.example__image--after {
  z-index: -1;

  margin-left: 10px;
}

.example__progress-button {
  padding-top: 2px;
  padding-bottom: 2px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  border: none;
  background-color: transparent;

  text-transform: uppercase;
}

.example__progress-bar-wrapper {
  display: flex;
  width: 76.5%;
  margin: 0 auto;
  margin-top: 55px;
  padding-left: 9px;

  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__range-bar {
  width: 33.62%;
  height: 12px;
  padding-right: 5px;
  padding-left: 5px;

  border: 1px solid #cdcdcd;
  border-radius: 10px;
  background-color: #ffffff;
}

.example__range {
  display: none;
}

.example__strip-progress {
  width: 50%;
  height: 6px;
  margin-top: 3px;

  border-radius: 10px;
  background-color: #68b738;

  transition: margin-left 0.2s;
}

@media (min-width: $tablet-width) {
  .example__title {
    max-width: 1018px;
    margin: 0 auto;
    padding-top: 13px;
    padding-right: 30px;
    padding-bottom: 60px;
    padding-left: 30px;

    font-size: 60px;

    background-color: transparent;
  }

  .example__wrapper {
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 0;
    padding-left: 30px;

    background-color: #ffffff;
  }

  .example__content {
    max-width: 1016px;
    margin: 0 auto;
  }

  .example__text {
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 0;

    font-size: 16px;
    line-height: 24px;
  }

  .example__stats {
    display: flex;
    margin-bottom: 226px;

    flex-wrap: wrap;
    justify-content: space-between;
  }

  .example__illustration {
    max-width: none;
    margin-right: -30px;
    margin-left: -30px;
    padding-bottom: 66px;

    background-image: linear-gradient(to right, #f2f2f2 0%, #f2f2f2 50.5%, #eaeaea 50.5%, #eaeaea 100%);
  }

  .example__images-wrapper {
    position: relative;

    width: 678px;
    margin: 0 auto;
  }

  .example__image {
    position: absolute;
    top: 0;
    left: 3px;

    width: 100%;
    margin-top: -141px;
  }

  .example__image--before {
    left: 24px;
    z-index: 1;

    clip: rect(auto 339px auto auto);
    width: 677px;
    height: 493px;
    margin-top: -147px;
  }

  .example__image--after {
    left: -6px;
    z-index: 1;

    clip: rect(auto auto auto 339px);
    width: 545px;
    height: 517px;
    margin-top: -170px;
    padding-left: 91px;
  }

  .example__progress-bar-wrapper {
    width: 571px;
    margin-top: 124px;

    align-items: normal;
    justify-content: normal;
  }

  .example__range-bar {
    width: 429px;
    height: 0;
    margin-top: 9px;
    padding-right: 0;
    padding-left: 0;

    border-color: transparent;
    border-radius: 10px;
    background-color: transparent;
  }

  input[type="range"] {
    display: block;
    width: 429px;

    -webkit-appearance: none;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;

    background-color: #dcdcdc;
  }

  input[type="range"]::-moz-range-track {
    background-color: #dcdcdc;

    -moz-appearance: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    z-index: 1;

    width: 30px;
    height: 30px;
    margin-top: -12px;

    border: 11px solid #ffffff;
    border-radius: 50%;
    background-color: $accent-color;
    box-shadow: 0 0 0 1px #dcdcdc, 0 2px 3px 1px rgba(0, 0, 0, 0.15);

    cursor: pointer;

    -webkit-appearance: none;
  }

  input[type="range"]::-moz-range-thumb {
    z-index: 1;

    width: 8px;
    height: 8px;
    margin-top: -12px;

    border: 11px solid #ffffff;
    border-radius: 50%;
    background-color: $accent-color;
    box-shadow: 0 0 0 1px #dcdcdc, 0 2px 3px 1px rgba(0, 0, 0, 0.15);

    cursor: pointer;

    -moz-appearance: none;
  }

  input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 1px #dcdcdc, 0 3px 3px 1px rgba(0, 0, 0, 0.15);
  }

  input[type="range"]::-moz-range-thumb:hover {
    box-shadow: 0 0 0 1px #dcdcdc, 0 3px 3px 1px rgba(0, 0, 0, 0.15);
  }

  input[type="range"]::-webkit-slider-thumb:active {
    box-shadow: 0 0 0 2px $accent-color, 0 3px 3px 1px rgba(0, 0, 0, 0.25);
  }

  input[type="range"]::-moz-range-thumb:active {
    box-shadow: 0 0 0 2px $accent-color, 0 3px 3px 1px rgba(0, 0, 0, 0.25);
  }

  input[type="range"]::-ms-track {
    z-index: 1;

    width: 100%;
    height: 6px;

    color: transparent;
    border-width: 16px 0;
    border-color: transparent;
    background: transparent;

    cursor: pointer;
  }

  input[type="range"]::-ms-fill-lower {
    background: #dcdcdc;
  }

  input[type="range"]::-ms-fill-upper {
    background: #dcdcdc;
  }

  input[type="range"]::-ms-thumb {
    z-index: 1;

    width: 8px;
    height: 8px;

    border: 11px solid #ffffff;
    border-radius: 50%;
    background-color: #68b738;
    box-shadow: 0 0 0 1px #dcdcdc, 0 2px 3px 1px rgba(0, 0, 0, 0.15);

    cursor: pointer;
  }

  input[type="range"]::-ms-thumb:hover {
    box-shadow: 0 0 0 1px #dcdcdc, 0 3px 3px 1px rgba(0, 0, 0, 0.15);

    cursor: pointer;
  }

  input[type="range"]::-ms-thumb:active {
    box-shadow: 0 0 0 2px #68b738, 0 3px 3px 1px rgba(0, 0, 0, 0.25);
  }

  input[type="range"]:focus::-ms-fill-lower {
    background: #dcdcdc;
  }

  input[type="range"]:focus::-ms-fill-upper {
    background: #dcdcdc;
  }

  .ie .example__range {
    margin-top: -43px;
  }

  .firefox .example__range {
    width: 427px;
    height: 4px;
  }

  .example__strip-progress {
    display: none;
  }

  .example__progress-button {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 5px;
    padding-left: 0;

    font-size: 20px;

    border-bottom: 1px dotted rgba(0, 0, 0, 0.23);

    &:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }

    &:focus {
      border-bottom: none;
    }
  }

  .example__progress-button--before {
    margin-right: 24px;
  }

  .example__progress-button--after {
    margin-left: 17px;
  }
}

@media (min-width: $desktop-width) {
  .example__title {
    box-sizing: border-box;
    width: 1300px;
    max-width: none;
    margin-bottom: 75px;
    padding-bottom: 0;
    padding-left: 40px;

    font-size: 60px;
  }

  .example__wrapper {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;

    background-image: linear-gradient(to right, #f2f2f2 0%, #f2f2f2 64.8%, #eaeaea 64.8%, #eaeaea 100%);
  }

  .example__flex-wrapper {
    display: flex;
    box-sizing: border-box;
    width: 1300px;
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 40px;

    justify-content: space-between;
  }

  .example__content {
    width: 570px;
    max-width: none;
    margin: 0;
  }

  .example__text {
    margin-top: 71px;
    margin-bottom: 64px;
    padding-top: 0;
    padding-right: 145px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__stats {
    flex-direction: column;
    margin-bottom: 0;
  }

  .example__illustration {
    width: 610px;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 66px;

    background-image: linear-gradient(to right, #f2f2f2 0%, #f2f2f2 53.5%, #eaeaea 53.5%, #eaeaea 100%);
  }

  .example__images-wrapper {
    width: 720px;
    margin-top: -24px;
  }

  .example__image--before {
    left: -15px;

    width: 669px;
  }

  .example__image--after {
    left: -45px;

    padding-left: 86px;
  }

  .example__progress-bar-wrapper {
    width: 570px;
    margin-top: 146px;
    margin-right: 0;
    margin-left: 40px;
    padding-left: 0;
  }

  .example__range-bar {
    width: 427px;
  }

  .example__range {
    width: 427px;
  }
}
