.first-screen {
    position: relative;
    background-image:linear-gradient(#64a83b 0%,#64a83b 64%,#ffffff 64%,#ffffff 100%);
}

.no-js .first-screen__header,
.no-webp .first-screen__header {
  background-image: url(../img/index-background-mobile.jpg);

  @media(min-resolution: $retina-dpi), (min-resolution: $retina-dppx){
    background-image: url(../img/index-background-mobile@2x.jpg);
    background-size: 100% 100%;
  }
}

.js.webp .first-screen__header {
  background-image: url(../img/index-background-mobile.webp);

  @media(min-resolution: $retina-dpi), (min-resolution: $retina-dppx){
    background-image: url(../img/index-background-mobile@2x.webp);
    background-size: 100% 100%;
  }
}

.first-screen__header {
    max-width: 425px;
    margin: 0 auto;

    background-repeat: no-repeat;
    background-size: 100% 100%;

    text-align: center;
}

.first-screen__title {
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 27px;
    padding-top: 30px;

    line-height: 36px;

    color: #ffffff;
}

.first-screen__slogan-text {
    @include reset;

    padding-bottom: 167px;

    font-size: 14px;
    line-height: 14px;

    color: #ffffff;

    text-transform: uppercase;
}

.first-screen__content {
    text-align: center;
}

.first-screen__container {
    margin: 0 auto;
}

.first-screen__image {
    margin-top: -137px;
}

.first-screen__link {
  margin-right: 20px;
  margin-left: 20px;
}

@media(min-width: $tablet-width) {
  .first-screen {
    background-image:none;
  }

  .first-screen__wrapper {
    max-width: 1240px;
    padding-right: 30px;
  }

  .no-js .first-screen__header,
  .js.webp .first-screen__header,
  .js.no-webp .first-screen__header {
    background-image: none;

    @media(min-resolution: $retina-dpi), (min-resolution: $retina-dppx){
      background-image: none;
    }
  }


  .first-screen__header {
    padding-left: 120px;
    padding-right: 90px;
    max-width: 1240px;
    margin-right: 0;
    margin-left: 0;

    background-image: none;
    text-align: left;
  }

  .first-screen__title {
    max-width: 1240px;
    padding-top: 35px;
    margin-right: 0;
    margin-left: 0;
    color: #000000;
    font-size: 60px;
    line-height: 60px;
  }

  .first-screen__slogan-text {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 47px;

    color: #000000;
  }

  .first-screen__content {
    padding-right: 6px;
  }

  .first-screen__container {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    margin: 0 0;
  }

  .first-screen__image {
    margin-top: -76px;
    margin-left: 30px;
    width:709px;
    height: 609px;
  }

  .first-screen__link {
    font-size: 20px;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 120px;
    max-width: 265px;
    margin-right:368px;
    order:-1;
    z-index: 2;
  }
}

@media(min-width: $desktop-width) {
  .first-screen {
    background-image:linear-gradient(to right,#ffffff 0%,#ffffff 49.9%,#64a83b 49.9%,#64a83b 100%);
  }

  .first-screen__wrapper {
    position: relative;
    padding-right: 0;
    margin:0 auto;
    max-width: none;
    width: 1300px;
    box-sizing: border-box;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 219px;
  }

  // .first-screen__wrapper::before {
  //   content:"";
  //   position: absolute;
  //   width: 681px;
  //   height: 696px;
  //   top: -128px;
  //   right: -52px;
  //   background-color: #64a83b;
  //   background-repeat: no-repeat;
  // }

  .first-screen::before {
    content:"";
    position: absolute;
    width: 681px;
    height: 696px;
    top: -128px;
    right: -46px;
    background-color: #64a83b;
    background-repeat: no-repeat;
  }

  // .no-js .first-screen__wrapper::before,
  // .no-webp .first-screen__wrapper::before{
  // background-image: url(../img/index-background-desktop.jpg);

  //   @media(min-resolution: $retina-dpi), (min-resolution: $retina-dppx){
  //     background-image: url(../img/index-background-desktop@2x.jpg);
  //     background-size: 681px 696px;
  //   }
  // }

  .no-js .first-screen::before,
  .no-webp .first-screen::before {
  background-image: url(../img/index-background-desktop.jpg);

    @media(min-resolution: $retina-dpi), (min-resolution: $retina-dppx){
      background-image: url(../img/index-background-desktop@2x.jpg);
      background-size: 681px 696px;
    }
  }

  // .js.webp .first-screen__wrapper::before {
  //   background-image: url(../img/index-background-desktop.webp);

  //   @media(min-resolution: $retina-dpi), (min-resolution: $retina-dppx){
  //     background-image: url(../img/index-background-desktop@2x.webp);
  //     background-size: 681px 696px;
  //   }
  // }

  .js.webp .first-screen::before {
    background-image: url(../img/index-background-desktop.webp);

    @media(min-resolution: $retina-dpi), (min-resolution: $retina-dppx){
      background-image: url(../img/index-background-desktop@2x.webp);
      background-size: 681px 696px;
    }
  }

  .first-screen__header {
    padding-left: 82px;
    padding-right: 0;
    max-width: 1300px;
  }

  .first-screen__title {
    max-width: 425px;
    padding-top: 85px;
  }

  .first-screen__image {
    position: absolute;
    top: 83px;
    right: 260px;
    width:552px;
    height: 499px;
  }

  .first-screen__link {
    margin-left: 82px;
    max-width: 265px;
    margin-right:0;
  }
}
