.form__textfields,
.form__radio {
  @include reset;

  border: none;
}

.form__textfields {
  padding-bottom: 23px;
}

.form__textfields-label {
  margin-right: 15px;
}

.form__textfields-block {
  display: flex;
  margin-bottom: 14px;

  align-items: center;
  flex-wrap: wrap;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__textfields-input {
  flex-grow: 1;
}

.form__radio {
  position: relative;

  &::before {
    position: absolute;
    left: 0;

    width: 100vw;
    height: 1px;
    margin-left: -20px;

    background-color: #ededed;

    content: "";
  }
}

.form__list-radio {
  @include reset;

  padding-top: 16px;
  padding-bottom: 16px;

  list-style: none;
}

.form__radio-label {
  position: relative;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 46px;

  &::before {
    position: absolute;
    top: 6px;
    left: 0;

    display: block;
    width: 12px;
    height: 12px;
    padding: 8px;

    border: 1px solid #cdcdcd;
    border-radius: 50%;

    content: "";
  }
}

.form__radio-input:not(:disabled) ~ .form__radio-label:hover::before {
  border-color: #bababa;
}
.form__radio-input:checked ~ .form__radio-label::before {
  background-color: $accent-color;
  background-clip: content-box;
}

.form__contacts-data,
.form__description {
  margin-top: 27px;
}

.form__checkboxes {
  margin-top: 21px;
}

.form__contacts-title,
.form__description-title {
  margin-bottom: 35px;
}

.form__checkboxes-title {
  margin-bottom: 32px;
}

.form__contacts-data {
  position: relative;

  &::before {
    position: absolute;
    top: -27px;
    left: 0;

    width: 100vw;
    height: 1px;
    margin-left: -20px;

    background-color: #ededed;

    content: "";
  }
}

.form__contacts-title-text {
  width: 181px;
}

.form__contacts-block {
  position: relative;

  display: flex;
  margin-bottom: 14px;

  align-items: center;
  flex-wrap: wrap;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__contacts-label {
  margin-right: 10px;
}

.form__contacts-input {
  flex-grow: 1;
}


.form__contacts-icon {
  position: absolute;

  &--mail {
    top: 16px;
    right: 15px;
  }

  &--phone {
    top: 13px;
    right: 12px;
  }
}

.form__contacts-input:focus + .form__contacts-icon--mail,
.form__contacts-input:focus + .form__contacts-icon--phone {
  fill: $accent-color;
}


.form__description-textarea {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding-right: 10px;

  resize: none;
}

.form__list-checkboxes {
  @include reset;

  list-style: none;
}

.form__checkbox-label {
  position: relative;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 46px;

  &::before {
    position: absolute;
    top: 6px;
    left: 0;

    display: block;
    width: 21px;
    height: 16px;
    padding: 6px 3px 6px 4px;

    border: 1px solid #cdcdcd;

    content: "";
  }
}

.form__checkbox-input:checked ~ .form__checkbox-label::before {
  background: url("../img/icon-check.svg") no-repeat center;
  background-clip: content-box;
  background-size: 21px auto;
}

.form__message-error {
  display: block;
  width: 100%;

  font-family: "Arial", sans-serif;
  font-size: 14px;

  color: $red;
}

.form__button {
  margin-top: 28px;
  margin-bottom: 31px;
}

.form__button-submit {
  width: 100%;

  border: none;

  text-align: center;
}

.form__button-signature {
  display: block;
  margin-top: 22px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;

  color: #444444;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .form__textfields {
    padding-bottom: 0;
  }

  .form__textfields-block {
    margin-bottom: 20px;
  }

  .form__radio {
    margin-top: 73px;
    margin-right: -70px;

    &::before {
      display: none;
    }
  }

  .form__list-radio {
    padding: 20px 28px;

    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    border-left: 1px solid #ededed;
  }

  .form__radio-label {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 60px;

    &::before {
      width: 18px;
      height: 18px;
      padding: 10px;
    }
  }

  .form__contacts-data {
    margin-top: 76px;

    &::before {
      display: none;
    }
  }

  .form__contacts-title,
  .form__description-title {
    margin-bottom: 74px;
  }

  .form__contacts-title-text,
  .form__description-title-text,
  .form__checkboxes-title-text {
    margin-left: -39px;
  }

  .form__contacts-title-text {
    width: auto;
  }

  .form__contacts-block {
    margin-bottom: 20px;
  }

  .form__contacts-label {
    margin-right: 15px;
  }

  .form__contacts-icon {
    &--mail {
      top: 20px;
      right: 20px;
    }

    &--phone {
      top: 16px;
      right: 17px;
    }
  }

  .form__description {
    margin-top: 66px;
  }

  .form__checkboxes {
    margin-top: 60px;
  }

  .form__checkboxes-title {
    margin-bottom: 40px;
  }

  .form__list-checkboxes {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__list-checkbox-item {
    width: calc(50% - 30px);
  }

  .form__checkbox-label {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 60px;

    &::before {
      top: 16px;

      padding: 11px 8px 11px 9px;
    }
  }

  .form__button {
    display: flex;
    margin-top: 37px;
    margin-bottom: 72px;

    align-items: center;
  }

  .form__button-submit {
    width: calc(50% - 30px);
    margin-right: 61px;
    padding-top: 17px;
    padding-bottom: 17px;

    font-size: 20px;
  }

  .form__button-signature {
    margin-top: 0;

    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form__basic-data-wrapper {
    display: flex;

    justify-content: space-between;
  }

  .form__textfields,
  .form__radio {
    width: 570px;
  }

  .form__textfields-label {
    margin-right: 18px;
  }

  .form__radio {
    @include reset;
  }

  .form__list-radio {
    border-right: 1px solid #ededed;
  }

  .form__contacts-wrapper {
    display: flex;

    justify-content: space-between;
  }

  .form__contacts-block {
    width: 570px;
    margin-bottom: 0;
  }

  .form__checkboxes {
    margin-top: 63px;
  }

  .form__list-checkbox-item {
    width: 245px;
  }

  .form__button {
    margin-top: 44px;
    margin-bottom: 82px;
  }

  .form__button-submit {
    width: 570px;
    margin-right: 80px;
  }
}
