.products__item {
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 20px;

  border-bottom: 1px solid #ededed;
}

.products__wrapper {
  display: flex;
  max-width: 540px;
  margin: 0 auto;

  justify-content: space-around;
}

.products__title {
  @include reset;

  width: 80px;
  margin-top: 21px;
  margin-bottom: 11px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  color: #111111;

  text-transform: uppercase;
}

.products__table {
  width: 143px;
  margin-left: -3px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;

  color: #444444;
}

.products__name-property {
  padding-top: 0;
  padding-bottom: 0;
}

.products__value-property {
  display: block;
  margin-right: -2px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;

  text-align: right;
}

.products__link {
  max-width: 520px;
  margin-top: -5px;
  margin-right: auto;
  margin-left: auto;

  font-size: 16px;
  line-height: 18px;

  text-align: center;
}

.products__button-plus {
  position: relative;

  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-top: 24px;

  border: none;
  background-color: transparent;

  cursor: pointer;

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 30px;
    height: 30px;

    background-image: url("../img/button-plus-mobile.svg");

    content: "";
  }
}

.products__show-all {
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 20px;

  border-bottom: 1px solid #ededed;
}

.products__subtitle {
  margin-top: 23px;
  margin-bottom: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  text-align: center;
  text-transform: uppercase;
}

.products__subtext {
  margin-top: 8px;
  margin-bottom: 0;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;

  color: #444444;

  text-align: center;
}

.products__button-show-all {
  width: 100%;
  max-width: 520px;
  margin-top: 21px;
  margin-right: auto;
  margin-left: auto;

  font-size: 16px;
  line-height: 18px;

  color: #444444;
  border: none;
  background-color: #f2f2f2;

  cursor: pointer;

  &:hover {
    background-color: #ebebeb;
  }

  &:focus {
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .products__item {
    box-sizing: border-box;
    width: 45.7629%;
    margin-bottom: 55px;
    padding-right: 36px;
    padding-bottom: 40px;
    padding-left: 36px;

    border-bottom: none;

    &--small {
      background-image: linear-gradient(to bottom, transparent 0, transparent 45px, #f2f2f2 45px, #f2f2f2 100%);
    }

    &--large {
      background-image: linear-gradient(to bottom, transparent 0, transparent 81.5px, #f2f2f2 81.5px, #f2f2f2 100%);
    }
  }

  .products__wrapper {
    display: block;
    max-width: none;
    margin: 0;
  }

  .products__image {
    display: block;
    height: auto;
    margin-right: auto;
    margin-left: auto;

    &--small {
      width: 161px;
    }

    &--large {
      width: 195px;
    }
  }

  .products__title {
    width: 130px;
    margin-top: 37px;
    margin-right: auto;
    margin-bottom: 19px;
    margin-left: auto;

    font-size: 20px;

    text-align: center;
  }

  .products__table {
    width: 100%;
    margin-left: 0;

    font-size: 16px;

    border-spacing: 0;
  }

  .products__name-property,
  .products__value-property {
    padding-top: 8px;
    padding-right: 0;
    padding-bottom: 8px;
    padding-left: 0;

    border-bottom: 1px solid #cdcdcd;
  }

  .products__value-property {
    margin-right: 0;
  }

  .products__link {
    margin-top: 32px;
  }

  .products__show-all {
    width: 45.7629%;
    margin-top: 44.5px;
    padding-right: 0;
    padding-left: 0;

    border-bottom: 0;

    align-self: start;
  }

  .products__show-all-wrapper {
    padding-top: 53px;
    padding-right: 36px;
    padding-bottom: 39px;
    padding-left: 36px;

    border: 1px solid #e6e6e6;
  }

  .products__button-plus {
    width: 60px;
    height: 60px;
    margin-top: 0;

    &::before {
      width: 60px;
      height: 60px;

      background-image: url("../img/button-plus-table-desktop.svg");
    }
  }

  .products__subtitle {
    width: 170px;
    margin-top: 49px;
    margin-right: auto;
    margin-left: auto;

    font-size: 20px;
    line-height: 20px;
  }

  .products__subtext {
    width: 170px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;

    font-size: 16px;
    line-height: 20px;
  }

  .products__button-show-all {
    max-width: none;
    margin-top: 81.5px;
  }
}

@media (min-width: $desktop-width) {
  .products__item {
    position: relative;

    width: 245px;
    margin-bottom: 82px;

    &--small {
      padding-top: 172px;
    }

    &--large {
      padding-top: 186px;

      background-image: linear-gradient(to bottom, transparent 0, transparent 59px, #f2f2f2 59px, #f2f2f2 100%);
    }

    &--last {
      margin-bottom: 0;
    }
  }

  .products__image {
    &--small {
      position: absolute;
      top: 0;
      left: 41px;
    }

    &--large {
      position: absolute;
      top: -22px;
      left: 26px;
    }
  }

  .products__show-all {
    width: 245px;
    margin-top: 58px;
    padding-bottom: 0;
  }

  .products__button-show-all {
    margin-top: 81px;
  }
}
