.social-list {
  @include reset;

  list-style: none;
}

.social-list__wrapper {
  @include reset;

  display: flex;
  max-width: 375px;
  margin: 0 auto;

  list-style: none;

  flex-wrap: wrap;
  justify-content: space-between;
}

.social-list__link .social-list__icon {
  &:hover {
    fill: $accent-color;
  }

  &:focus {
    fill: rgba(104, 183, 56, 0.3);
  }
}

.social-list__icon {
  fill: #666666;
}

@media (min-width: $tablet-width) {
  .social-list__icon {
    &--vk {
      width: 30px;
      height: 16px;
      margin-top: 6px;
    }

    &--insta {
      width: 23px;
      height: 23px;
      margin-top: 2px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
