@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin hover-focus {
  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }
}

@mixin placeholder($color) {
  &::placeholder {
    opacity: 1;
    color: $color;
  }

  &::-webkit-input-placeholder {
    opacity: 1;
    color: $color;
  }

  &:-moz-placeholder {
    opacity: 1;
    color: $color;
  }

  &::-moz-placeholder {
    opacity: 1;
    color: $color;
  }

  &:-ms-input-placeholder {
    opacity: 1;
    color: $color;
  }
}
