@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin hover-focus {
    &:hover {
        opacity: 0.8;
    }

    &:focus {
        opacity: 0.6;
    }
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder { color: $color; }
  &:-moz-placeholder           { color: $color; }
  &::-moz-placeholder          { color: $color; }
  &:-ms-input-placeholder      { color: $color; }
}
